<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,852}}</string>
                <key>sourceSize</key>
                <string>{480,852}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,856},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>fish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{145,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>fish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,635},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>fish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,856},{170,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{170,140}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,856},{291,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,121}}</string>
                <key>sourceSize</key>
                <string>{291,121}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,570},{182,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,119}}</string>
                <key>sourceSize</key>
                <string>{182,119}</string>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,566}}</string>
                <key>sourceSize</key>
                <string>{480,566}</string>
            </dict>
            <key>ribbon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,570},{183,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,63}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>ribbon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,570},{183,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,63}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>ribbon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,754},{183,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,63}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>ribbon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,754},{183,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,63}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,570},{429,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,106}}</string>
                <key>sourceSize</key>
                <string>{429,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishTex.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb9d984edd1bbf92cf991a71e472ef1:1/1$</string>
            <key>textureFileName</key>
            <string>fishTex.png</string>
        </dict>
    </dict>
</plist>
