<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E0.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,252},{192,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,100}}</string>
                <key>sourceSize</key>
                <string>{192,100}</string>
            </dict>
            <key>E1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1124},{251,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,179}}</string>
                <key>sourceSize</key>
                <string>{251,179}</string>
            </dict>
            <key>E2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1305},{183,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,230}}</string>
                <key>sourceSize</key>
                <string>{183,230}</string>
            </dict>
            <key>E3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1490},{198,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,148}}</string>
                <key>sourceSize</key>
                <string>{198,148}</string>
            </dict>
            <key>E4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,890},{232,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,252}}</string>
                <key>sourceSize</key>
                <string>{232,252}</string>
            </dict>
            <key>E5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{248,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,279}}</string>
                <key>sourceSize</key>
                <string>{248,279}</string>
            </dict>
            <key>bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1558}}</string>
                <key>sourceSize</key>
                <string>{640,1558}</string>
            </dict>
            <key>ship01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,252},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,260}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>ship02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,702},{260,186}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{260,186}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>ship03.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,514},{260,186}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{260,186}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textureTransparentPack.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c7d5d5c8e2312f453fb44dccc669b5:1/1$</string>
            <key>textureFileName</key>
            <string>textureTransparentPack.png</string>
        </dict>
    </dict>
</plist>
